workflows/inbound-handler.json
{
  "name": "Inbound Call Handler - Roof Mode",
  "nodes": [
    {
      "parameters": {},
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "roof-mode-trigger",
      "httpMethod": "POST",
      "path": "webhook/incoming-voice",
      "responseMode": "responseNode",
      "options": {}
    },
    {
      "parameters": {
        "functionCode": "const webhookData = $input.item.json.body;\n\nlet phone = webhookData.From || '';\nphone = phone.replace(/[^+\\d]/g, '');\n\nif (phone.startsWith('00')) {\n  phone = '+' + phone.substring(2);\n} else if (!phone.startsWith('+')) {\n  if (phone.startsWith('01')) {\n    phone = '+49' + phone.substring(1);\n  } else {\n    phone = '+49' + phone;\n  }\n}\n\nreturn {\n  json: {\n    originalPhone: webhookData.From,\n    normalizedPhone: phone,\n    callSid: webhookData.CallSid,\n    toNumber: webhookData.To,\n    fromCity: webhookData.FromCity || 'Unknown',\n    fromState: webhookData.FromState || 'Unknown',\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "normalize-phone",
      "name": "Normalize Phone Number",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "lookup",
        "sheetId": { "__rl": true, "value": "CRM", "mode": "name" },
        "options": {
          "cellFormat": "STRING"
        }
      },
      "id": "crm-lookup",
      "name": "CRM Lookup",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [650, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-credentials"
        }
      },
      "notesInFlow": true,
      "notes": "Looks up phone number in CRM sheet. Column: phone"
    },
    {
      "parameters": {
        "functionCode": "const phone = $input.item.json.normalizedPhone;\nconst crmResults = $input.item.json.results || [];\n\nlet customer = {\n  found: false,\n  name: 'Unbekannt',\n  status: 'New Lead'\n};\n\nfor (const row of crmResults) {\n  if (row.phone === phone) {\n    customer = {\n      found: true,\n      name: row.name || row.customerName || 'Kunde',\n      status: row.status || 'Active',\n      address: row.address || '',\n      projectType: row.projectType || ''\n    };\n    break;\n  }\n}\n\nreturn [{\n  json: {\n    ...$input.item.json,\n    customer\n  }\n}];"
      },
      "id": "parse-crm-data",
      "name": "Parse CRM Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "xml",
        "responseBody": "=<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Response>\n  <Say voice=\"alice\" language=\"de-DE\">\n    Hallo, hier ist Solar Vorzimmerdrache. Wir sind gerade auf dem Dach bei einer Montage. Ich habe deine Nummer gesehen und schicke dir sofort eine WhatsApp. Bitte antworte dort kurz.\n  </Say>\n  <Hangup />\n</Response>"
      },
      "id": "twiml-response",
      "name": "TwiML Voice Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "functionCode": "const customer = $input.item.json.customer;\nconst phone = $input.item.json.normalizedPhone;\n\nconst message = `👋 Moin! Hab deinen Anruf gesehen. Bin gerade auf dem Dach.\n\nSchreib mir kurz hier:\n1. Geht es um eine neue Anlage?\n2. Oder hast du eine Frage zu einem Termin?\n\nIch melde mich, sobald ich wieder unten bin! ☀️`;\n\nreturn [{\n  json: {\n    phone,\n    message,\n    customerName: customer.name\n  }\n}];"
      },
      "id": "prepare-whatsapp",
      "name": "Prepare WhatsApp Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.WAHA_API_URL }}/api/sendText",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WAHA_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session\": \"default\",\n  \"chatId\": \"={{ $json.phone }}\",\n  \"text\": \"={{ $json.message }}\"\n}",
        "options": {}
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "whatsapp-failed",
              "leftValue": "={{ $json.error || $json.status }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "if-whatsapp-failed",
      "name": "If WhatsApp Failed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "operation": "send",
        "to": "={{ $item(0).$json.normalizedPhone }}",
        "from": "={{ $env.TWILIO_PHONE_NUMBER }}",
        "content": "=Hallo! Hab deinen Anruf gesehen. Wir sind gerade auf dem Dach. Schreib uns eine WhatsApp oder ruf später wieder an."
      },
      "id": "sms-fallback",
      "name": "SMS Fallback",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 2,
      "position": [1850, 100],
      "credentials": {
        "twilioApi": {
          "id": "twilio-credentials"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const callData = $item(0).$json;\nconst customer = callData.customer;\nconst timestamp = new Date(callData.timestamp).toLocaleString('de-DE');\n\nconst message = `📞 Verpasster Anruf von ${callData.normalizedPhone}\nName: ${customer.name || 'Unbekannt'}\nZeit: ${timestamp}\n\nHabe ihm eine WhatsApp geschickt.`;\n\nreturn [{\n  json: {\n    message,\n    phone: callData.normalizedPhone,\n    customerName: customer.name,\n    timestamp: callData.timestamp\n  }\n}];"
      },
      "id": "prepare-telegram",
      "name": "Prepare Telegram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "url": "={{ $env.TELEGRAM_BOT_API_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.INSTALLER_TELEGRAM_CHAT_ID }}\",\n  \"text\": \"={{ $json.message }}\",\n  \"parse_mode\": \"HTML\"\n}",
        "options": {}
      },
      "id": "send-telegram",
      "name": "Send Telegram Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "telegram-failed",
              "leftValue": "={{ $json.ok }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "if-telegram-failed",
      "name": "If Telegram Failed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1650, 400]
    },
    {
      "parameters": {
        "functionCode": "const error = $json.description || 'Unknown Telegram error';\nconsole.error('Telegram notification failed:', error);\nreturn [{ json: { telegramError: error, logged: true } }];"
      },
      "id": "log-telegram-error",
      "name": "Log Telegram Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[
        { "node": "Normalize Phone Number", "type": "main", "index": 0 }
      ]]
    },
    "Normalize Phone Number": {
      "main": [[
        { "node": "CRM Lookup", "type": "main", "index": 0 }
      ]]
    },
    "CRM Lookup": {
      "main": [[
        { "node": "Parse CRM Data", "type": "main", "index": 0 }
      ]]
    },
    "Parse CRM Data": {
      "main": [[
        { "node": "TwiML Voice Response", "type": "main", "index": 0 },
        { "node": "Prepare WhatsApp Message", "type": "main", "index": 0 },
        { "node": "Prepare Telegram Message", "type": "main", "index": 0 }
      ]]
    },
    "TwiML Voice Response": {
      "main": [[]]
    },
    "Prepare WhatsApp Message": {
      "main": [[
        { "node": "Send WhatsApp", "type": "main", "index": 0 }
      ]]
    },
    "Send WhatsApp": {
      "main": [[
        { "node": "If WhatsApp Failed", "type": "main", "index": 0 }
      ]]
    },
    "If WhatsApp Failed": {
      "main": [[
        { "node": "SMS Fallback", "type": "main", "index": 0 }
      ], []]
    },
    "SMS Fallback": {
      "main": [[]]
    },
    "Prepare Telegram Message": {
      "main": [[
        { "node": "Send Telegram Notification", "type": "main", "index": 0 }
      ]]
    },
    "Send Telegram Notification": {
      "main": [[
        { "node": "If Telegram Failed", "type": "main", "index": 0 }
      ]]
    },
    "If Telegram Failed": {
      "main": [[
        { "node": "Log Telegram Error", "type": "main", "index": 0 }
      ], []]
    },
    "Log Telegram Error": {
      "main": [[]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "voice",
      "createdAt": "2026-01-24T16:00:00.000Z"
    },
    {
      "name": "roof-mode",
      "createdAt": "2026-01-24T16:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-01-24T16:00:00.000Z",
  "versionId": "1"
}
