workflows/opt-out-handler.json
{
  "name": "Opt-Out Handler - German Compliance",
  "nodes": [
    {
      "parameters": {},
      "id": "whatsapp-webhook",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "opt-out-whatsapp-trigger",
      "httpMethod": "POST",
      "path": "webhook/incoming-whatsapp",
      "responseMode": "responseNode",
      "options": {}
    },
    {
      "parameters": {},
      "id": "sms-webhook",
      "name": "SMS Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 500],
      "webhookId": "opt-out-sms-trigger",
      "httpMethod": "POST",
      "path": "webhook/incoming-sms",
      "responseMode": "responseNode",
      "options": {}
    },
    {
      "parameters": {
        "functionCode": "const webhookData = $input.item.json.body || $input.item.json;\n\nlet phone = webhookData.From || webhookData.from || '';\nphone = phone.replace(/[^+\\d]/g, '');\n\nif (phone.startsWith('00')) {\n  phone = '+' + phone.substring(2);\n} else if (!phone.startsWith('+')) {\n  if (phone.startsWith('01')) {\n    phone = '+49' + phone.substring(1);\n  } else {\n    phone = '+49' + phone;\n  }\n}\n\nlet message = '';\nif (webhookData.Body) {\n  message = webhookData.Body;\n} else if (webhookData.text) {\n  message = webhookData.text;\n} else if (webhookData.message?.text) {\n  message = webhookData.message.text;\n}\n\nconst channel = webhookData.AccountSid ? 'sms' : 'whatsapp';\n\nreturn {\n  json: {\n    channel,\n    phone,\n    message: message.trim().toLowerCase(),\n    originalMessage: message,\n    webhookId: webhookData.MessageSid || webhookData.id,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "normalize-data",
      "name": "Normalize Input Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 400]
    },
    {
      "parameters": {
        "functionCode": "const message = $json.message;\n\nconst germanKeywords = [\n  'stop', 'stopp', 'halt',\n  'abmelden', 'abbestellen',\n  'löschen', 'delete', 'remove',\n  'kein interesse', 'no thanks',\n  'nicht mehr', 'nicht kontaktieren'\n];\n\nconst matchedKeyword = germanKeywords.find(kw => message.includes(kw));\n\nconst isOptOut = !!matchedKeyword;\n\nreturn [{\n  json: {\n    ...$json,\n    isOptOut,\n    matchedKeyword,\n    shouldProcess: isOptOut\n  }\n}];"
      },
      "id": "detect-keyword",
      "name": "Detect Opt-Out Keyword",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-opt-out",
              "leftValue": "={{ $json.shouldProcess }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "if-opt-out",
      "name": "If Opt-Out Request",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads SET opted_out = TRUE, opt_out_date = NOW() WHERE phone = $1",
        "options": {}
      },
      "id": "update-opt-out-status",
      "name": "Update Opt-Out Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1050, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO opt_out_events (lead_id, channel, keyword_used, timestamp) VALUES ((SELECT id FROM leads WHERE phone = $1), $2, $3, NOW())",
        "options": {}
      },
      "id": "log-opt-out-event",
      "name": "Log Opt-Out Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1250, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const channel = $item(0).$json.channel;\nconst messages = {\n  whatsapp: '✅ Du wurdest abgemeldet. Wir kontaktieren dich nicht mehr.',\n  sms: 'Abgemeldet. Keine weiteren Nachrichten.'\n};\n\nreturn [{\n  json: {\n    phone: $item(0).$json.phone,\n    message: messages[channel] || messages.sms,\n    channel,\n    confirmationSent: true\n  }\n}];"
      },
      "id": "prepare-confirmation",
      "name": "Prepare Confirmation Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-whatsapp",
              "leftValue": "={{ $json.channel }}",
              "rightValue": "whatsapp",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "check-channel",
      "name": "Check Channel",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.WAHA_API_URL }}/api/sendText",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WAHA_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session\": \"default\",\n  \"chatId\": \"={{ $json.phone }}\",\n  \"text\": \"={{ $json.message }}\"\n}",
        "options": {}
      },
      "id": "send-whatsapp-confirmation",
      "name": "Send WhatsApp Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1850, 200]
    },
    {
      "parameters": {
        "operation": "send",
        "to": "={{ $item(0).$json.phone }}",
        "from": "={{ $env.TWILIO_PHONE_NUMBER }}",
        "content": "={{ $json.message }}"
      },
      "id": "send-sms-confirmation",
      "name": "Send SMS Confirmation",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 2,
      "position": [1850, 400],
      "credentials": {
        "twilioApi": {
          "id": "twilio-credentials"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"opted_out\", \"message\": \"User opted out successfully\"}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2050, 300]
    },
    {
      "parameters": {
        "functionCode": "const message = $json.originalMessage || '';\nconsole.log(`Non-opt-out message received: ${message}`);\nreturn [{ json: { ignored: true, reason: 'not an opt-out keyword' } }];"
      },
      "id": "log-ignored-message",
      "name": "Log Ignored Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"ignored\", \"message\": \"Message not an opt-out request\"}"
      },
      "id": "webhook-response-ignore",
      "name": "Webhook Response (Ignore)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1250, 500]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [[
        { "node": "Normalize Input Data", "type": "main", "index": 0 }
      ]]
    },
    "SMS Webhook": {
      "main": [[
        { "node": "Normalize Input Data", "type": "main", "index": 0 }
      ]]
    },
    "Normalize Input Data": {
      "main": [[
        { "node": "Detect Opt-Out Keyword", "type": "main", "index": 0 }
      ]]
    },
    "Detect Opt-Out Keyword": {
      "main": [[
        { "node": "If Opt-Out Request", "type": "main", "index": 0 }
      ]]
    },
    "If Opt-Out Request": {
      "main": [[
        { "node": "Update Opt-Out Status", "type": "main", "index": 0 }
      ], [
        { "node": "Log Ignored Message", "type": "main", "index": 0 }
      ]]
    },
    "Update Opt-Out Status": {
      "main": [[
        { "node": "Log Opt-Out Event", "type": "main", "index": 0 }
      ]]
    },
    "Log Opt-Out Event": {
      "main": [[
        { "node": "Prepare Confirmation Message", "type": "main", "index": 0 }
      ]]
    },
    "Prepare Confirmation Message": {
      "main": [[
        { "node": "Check Channel", "type": "main", "index": 0 }
      ]]
    },
    "Check Channel": {
      "main": [[
        { "node": "Send WhatsApp Confirmation", "type": "main", "index": 0 }
      ], [
        { "node": "Send SMS Confirmation", "type": "main", "index": 0 }
      ]]
    },
    "Send WhatsApp Confirmation": {
      "main": [[
        { "node": "Webhook Response", "type": "main", "index": 0 }
      ]]
    },
    "Send SMS Confirmation": {
      "main": [[
        { "node": "Webhook Response", "type": "main", "index": 0 }
      ]]
    },
    "Webhook Response": {
      "main": [[]]
    },
    "Log Ignored Message": {
      "main": [[
        { "node": "Webhook Response (Ignore)", "type": "main", "index": 0 }
      ]]
    },
    "Webhook Response (Ignore)": {
      "main": [[]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "compliance",
      "createdAt": "2026-01-24T16:00:00.000Z"
    },
    {
      "name": "opt-out",
      "createdAt": "2026-01-24T16:00:00.000Z"
    },
    {
      "name": "german",
      "createdAt": "2026-01-24T16:00:00.000Z"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2026-01-24T16:00:00.000Z",
  "versionId": "1"
}
