workflows/roof-mode.json
{
  "name": "Roof-Mode",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/incoming-call",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "roof-mode-webhook"
    },
    {
      "parameters": {
        "jsCode": "const phone = $input.first().json.body.From;\nlet normalizedPhone = phone;\nif (normalizedPhone.startsWith('0')) {\n  normalizedPhone = '+49' + normalizedPhone.substring(1);\n} else if (!normalizedPhone.startsWith('+')) {\n  normalizedPhone = '+49' + normalizedPhone;\n}\nreturn [{ json: { phone: normalizedPhone } }];"
      },
      "id": "normalize-phone",
      "name": "Code - Normalize Phone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{$env.GOOGLE_SHEET_ID}}/values/Sheet1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "GET",
        "options": {}
      },
      "id": "google-sheets-lookup",
      "name": "HTTP Request - Google Sheets Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "xml",
        "responseBody": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Response>\n  <Say voice=\"alice\" language=\"de-DE\">Moin! Wir sind auf dem Dach. Wir rufen Sie gleich zurück.</Say>\n  <Pause length=\"1\"/>\n</Response>"
      },
      "id": "twiml-response",
      "name": "Twilio - Respond to Webhook (TwiML)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "jsCode": "const sheetsData = $node['HTTP Request - Google Sheets Lookup'].first().json;\nconst rows = sheetsData?.values || [];\nlet knownCustomer = null;\nfor (let i = 0; i < rows.length; i++) {\n  if (rows[i][0] === $json.phone) {\n    knownCustomer = rows[i];\n    break;\n  }\n}\nreturn [{ json: { phone: $json.phone, knownCustomer } }];"
      },
      "id": "check-customer-known",
      "name": "Code - Check Customer Known",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.knownCustomer }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "isTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-known-customer",
      "name": "IF - Known Customer",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "operation": "send",
        "from": "whatsapp:+14155238886",
        "to": "={{ $json.phone }}",
        "content": "Moin! Bin auf dem Dach. Worum geht's?",
        "options": {}
      },
      "id": "twilio-whatsapp-known",
      "name": "Twilio - Send WhatsApp",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "operation": "send",
        "from": "whatsapp:+14155238886",
        "to": "={{ $item(0).$json.phone }}",
        "body": "Hallo! Hab deinen Anruf gesehen. Wir sind auf dem Dach.",
        "options": {}
      },
      "id": "twilio-whatsapp-fallback",
      "name": "Twilio - Send WhatsApp (Fallback)",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1250, 500]
    },
    {
      "parameters": {
        "url": "={{ $env.TELEGRAM_BOT_API_URL }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\", \"text\": \"Verpasster Anruf von {{ $json.phone }}. Habe WhatsApp geschickt.\"}",
        "options": {}
      },
      "id": "telegram-alert",
      "name": "HTTP Request - Telegram Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Code - Normalize Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Normalize Phone": {
      "main": [
        [
          {
            "node": "HTTP Request - Google Sheets Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Google Sheets Lookup": {
      "main": [
        [
          {
            "node": "Twilio - Respond to Webhook (TwiML)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code - Check Customer Known",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio - Respond to Webhook (TwiML)": {
      "main": []
    },
    "Code - Check Customer Known": {
      "main": [
        [
          {
            "node": "IF - Known Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Known Customer": {
      "main": [
        [
          {
            "node": "Twilio - Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Twilio - Send WhatsApp (Fallback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio - Send WhatsApp": {
      "main": [
        [
          {
            "node": "HTTP Request - Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio - Send WhatsApp (Fallback)": {
      "main": [
        [
          {
            "node": "HTTP Request - Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Telegram Alert": {
      "main": []
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-25T00:00:00.000Z",
  "versionId": "1"
}
