workflows/roof-mode-with-protection.json
{
  "name": "Roof-Mode",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "incoming-call",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "roof-mode-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst phone = body.From || '';\nlet normalizedPhone = phone.replace(/[^0-9+]/g, '');\nif (normalizedPhone.startsWith('00')) {\n  normalizedPhone = '+' + normalizedPhone.substring(2);\n} else if (normalizedPhone.startsWith('0') && normalizedPhone.length >= 10) {\n  normalizedPhone = '+49' + normalizedPhone.substring(1);\n} else if (!normalizedPhone.startsWith('+') && normalizedPhone.length > 0) {\n  normalizedPhone = '+49' + normalizedPhone;\n}\nreturn [{json: {phone: normalizedPhone, rawPhone: phone}}];"
      },
      "name": "Parse Call",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID }}",
        "sheetName": "Blacklist",
        "range": "A:A",
        "dataStartRow": 2,
        "keyRow": 1
      },
      "name": "Get Blacklist",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4
    },
    {
      "parameters": {
        "jsCode": "const phone = $input.first().json.phone;\nconst blacklistData = $input.all()[1]?.json || {};\nconst blacklist = Object.values(blacklistData).filter(v => v && typeof v === 'string' && v.startsWith('+'));\nconst isBlacklisted = blacklist.some(b => phone.includes(b) || b.includes(phone));\nreturn [{json: {phone, isBlacklisted, blacklist}}];"
      },
      "name": "Check Blacklist",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [{"leftValue": "={{ $json.isBlacklisted }}", "rightValue": false}]
        }
      },
      "name": "IF - Not Blacklisted",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const phone = $input.first().json.phone;\nconst now = Date.now();\nconst cooldownMinutes = 5;\nlet callTracking = $getWorkflowStaticData('global').callTracking || {};\nconst cutoffTime = now - (cooldownMinutes * 60 * 1000);\nObject.keys(callTracking).forEach(key => {\n  if (callTracking[key].lastCall < cutoffTime) {\n    delete callTracking[key];\n  }\n});\nconst tracking = callTracking[phone] || { count: 0, lastCall: 0, smsSent: false };\nconst timeSinceLastCall = now - tracking.lastCall;\nconst isInCooldown = timeSinceLastCall < (cooldownMinutes * 60 * 1000);\ntracking.count++;\ntracking.lastCall = now;\nconst shouldSendSMS = !isInCooldown || (isInCooldown && !tracking.smsSent);\nif (shouldSendSMS) {\n  tracking.smsSent = true;\n}\ncallTracking[phone] = tracking;\n$getWorkflowStaticData('global').callTracking = callTracking;\nreturn [{json: {phone, shouldSendSMS, callCount: tracking.count, isInCooldown}}];"
      },
      "name": "Check Cooldown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [{"leftValue": "={{ $json.shouldSendSMS }}", "rightValue": true}]
        }
      },
      "name": "IF - Should Send SMS",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID }}",
        "sheetName": "Call_Log",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $json.phone }}",
            "timestamp": "={{ $now }}",
            "status": "missed",
            "sms_sent": "={{ $('Check Cooldown').item.json.shouldSendSMS }}"
          }
        }
      },
      "name": "Log Call",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4
    },
    {
      "parameters": {
        "from": "={{ $env.TWILIO_PHONE_NUMBER }}",
        "to": "={{ $json.phone }}",
        "body": "Moin! Wir sind auf dem Dach. Möchten Sie Updates per WhatsApp? Antworten Sie mit JA."
      },
      "name": "Send SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1
    },
    {
      "parameters": {
        "respondWith": "xml",
        "responseBody": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response><Say voice=\"alice\" language=\"de-DE\">Moin! Wir sind auf dem Dach. Wir rufen Sie gleich zurück.</Say></Response>",
        "options": {},
        "responseHeaders": {
          "headerParameters": {
            "parameters": [{"name": "Content-Type", "value": "text/xml"}]
          }
        }
      },
      "name": "TwiML Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    },
    {
      "parameters": {
        "respondWith": "xml",
        "responseBody": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response><Say voice=\"alice\" language=\"de-DE\">Moin! Wir sind auf dem Dach. Wir rufen Sie gleich zurück.</Say></Response>",
        "options": {},
        "responseHeaders": {
          "headerParameters": {
            "parameters": [{"name": "Content-Type", "value": "text/xml"}]
          }
        }
      },
      "name": "TwiML Response (Cooldown)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    },
    {
      "parameters": {
        "respondWith": "xml",
        "responseBody": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response><Hangup/></Response>",
        "options": {},
        "responseHeaders": {
          "headerParameters": {
            "parameters": [{"name": "Content-Type", "value": "text/xml"}]
          }
        }
      },
      "name": "TwiML Hangup (Blacklist)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    }
  ],
  "connections": {
    "Webhook Trigger": {"main": [[{"node": "Parse Call"}]]},
    "Parse Call": {"main": [[{"node": "Get Blacklist"}]]},
    "Get Blacklist": {"main": [[{"node": "Check Blacklist"}]]},
    "Check Blacklist": {"main": [[{"node": "IF - Not Blacklisted"}]]},
    "IF - Not Blacklisted": {"main": [[{"node": "Check Cooldown"}], [{"node": "TwiML Hangup (Blacklist)"}]]},
    "Check Cooldown": {"main": [[{"node": "IF - Should Send SMS"}]]},
    "IF - Should Send SMS": {"main": [[{"node": "Log Call"}], [{"node": "TwiML Response (Cooldown)"}]]},
    "Log Call": {"main": [[{"node": "Send SMS"}]]},
    "Send SMS": {"main": [[{"node": "TwiML Response"}]]}
  },
  "settings": {"executionOrder": "v1"}
}
