workflows/roof-mode.json
{
  "name": "Roof-Mode",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/incoming-call",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "roof-mode-webhook"
    },
    {
      "parameters": {
        "jsCode": "const customData = $run.executionData.customData || {};\nconst now = Date.now();\nconst errorWindow = 60000;\nconst recentErrors = (customData.sheetsErrors || []).filter(ts => now - ts < errorWindow);\nrecentErrors.push(now);\n\nreturn [{ json: { errorLogged: true, totalErrors: recentErrors.length } }];"
      },
      "id": "track-circuit-error",
      "name": "Code - Track Circuit Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        650
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "isTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-signature-valid",
      "name": "IF - Signature Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        250,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"Forbidden\", \"message\": \"Invalid signature\"}",
        "options": {
          "responseCode": 403
        },
        "responseHeaders": {
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-forbidden",
      "name": "Respond - Forbidden",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        250,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const phone = $input.first().json.body.From || '';\nlet p = phone.replace(/[^0-9+]/g, '');\n\n// Already E.164 format (+country code)\nif (p.startsWith('+')) {\n  // Keep international numbers as-is (+43, +41, +1, etc.)\n} else if (p.startsWith('00')) {\n  // Convert 0049... to +49...\n  p = '+' + p.substring(2);\n} else if (p.startsWith('0') && p.length >= 10 && p.length <= 13) {\n  // German local format -> add +49\n  p = '+49' + p.substring(1);\n} else if (!p.startsWith('+') && p.length > 0) {\n  // Assume German number if no prefix\n  p = '+49' + p;\n}\n\n// Check if mobile (German prefixes + international support)\nconst mobilePrefixes = ['150', '151', '152', '155', '156', '157', '159', '160', '161', '162', '163', '165', '166', '167', '168', '169', '170', '171', '172', '173', '174', '175', '176', '177', '178', '179'];\nconst prefix = p.startsWith('+49') ? p.substring(3, 6) : null;\nconst is_mobile = prefix ? mobilePrefixes.includes(prefix) : true; // Assume mobile for international\n\nreturn [{ json: { phone: p, is_mobile } }];"
      },
      "id": "normalize-phone",
      "name": "Code - Normalize Phone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        350
      ]
    },
    {
      "parameters": {
        "jsCode": "const phone = $json.phone;\nconst e164Pattern = /^\\+[1-9]\\d{1,14}$/;\nconst isValidPhone = e164Pattern.test(phone);\n\nif (!isValidPhone) {\n  return [{ json: { phone, error: 'Invalid phone format (not E.164)', validationError: true } }];\n}\n\nreturn [{ json: { phone, validPhone: true } }];"
      },
      "id": "validate-phone-format",
      "name": "Code - Validate Phone Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        550,
        350
      ]
    },
    {
      "parameters": {
        "jsCode": "const customData = $run.executionData.customData || {};\nconst now = Date.now();\nconst errorWindow = 60000; // 1 minute window\nconst maxErrors = 3;\n\n// Get recent errors from customData\nconst recentErrors = (customData.sheetsErrors || []).filter(ts => now - ts < errorWindow);\n\n// Check if circuit should be open\nif (recentErrors.length >= maxErrors) {\n  return [{ json: { circuitOpen: true, skipApi: true, errorCount: recentErrors.length } }];\n}\n\nreturn [{ json: { circuitOpen: false, proceed: true } }];"
      },
      "id": "circuit-breaker-sheets",
      "name": "Code - Circuit Breaker (Sheets)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        350
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "sheetId": {
          "__rl": true,
          "mode": "url"
        },
        "range": "={{ $env.GOOGLE_SHEETS_RANGE }}"
      },
      "id": "google-sheets-lookup",
      "name": "Google Sheets - Lookup Customer",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        700,
        350
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "googleSheetsOAuth2Api",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "xml",
        "responseBody": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Response>\n  <Say voice=\"alice\" language=\"de-DE\">Moin! Wir sind auf dem Dach. Wir rufen Sie gleich zur\u00fcck.</Say>\n  <Pause length=\"1\"/>\n</Response>",
        "responseHeaders": {
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "text/xml"
              }
            ]
          }
        }
      },
      "id": "twiml-response",
      "name": "Twilio - Respond to Webhook (TwiML)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        250
      ]
    },
    {
      "parameters": {
        "jsCode": "const sheetsData = $node['Google Sheets - Lookup Customer'].first().json;\nconst rows = sheetsData?.values || [];\n\n// Header-basierte Suche (robust gegen Spaltenänderungen)\nif (rows.length === 0) {\n  return [{ json: { phone: $json.phone, knownCustomer: null } }];\n}\n\nconst headers = rows[0];\nconst phoneIndex = headers.indexOf('Phone');\nconst optInIndex = headers.indexOf('OptIn_Status');\n\nif (phoneIndex === -1) {\n  return [{ json: { phone: $json.phone, knownCustomer: null, error: 'Phone column not found' } }];\n}\n\nlet knownCustomer = null;\nfor (let i = 1; i < rows.length; i++) {\n  if (rows[i][phoneIndex] === $json.phone) {\n    knownCustomer = {\n      row: rows[i],\n      phone: rows[i][phoneIndex],\n      optInStatus: optInIndex !== -1 ? rows[i][optInIndex] : null,\n      rowIndex: i\n    };\n    break;\n  }\n}\n\nreturn [{ json: { phone: $json.phone, knownCustomer } }];"
      },
      "id": "check-customer-known",
      "name": "Code - Check Customer Known",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        450
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.knownCustomer }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "isTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-known-customer",
      "name": "IF - Known Customer",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        450
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "from": "={{ $env.TWILIO_PHONE_NUMBER }}",
        "to": "={{ $json.phone }}",
        "body": "Hi, wir haben Ihren Anruf verpasst. M\u00f6chten Sie Updates per WhatsApp? Antworten Sie mit JA.",
        "options": {
          "maxTries": 3,
          "waitBetweenTries": 2000,
          "continueOnFail": true
        }
      },
      "id": "twilio-sms-known",
      "name": "Twilio - Send SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1300,
        350
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "from": "={{ $env.TWILIO_PHONE_NUMBER }}",
        "to": "={{ $item(0).$json.phone }}",
        "body": "Hi, wir haben Ihren Anruf verpasst. M\u00f6chten Sie Updates per WhatsApp? Antworten Sie mit JA.",
        "options": {
          "maxTries": 3,
          "waitBetweenTries": 2000,
          "continueOnFail": true
        }
      },
      "id": "twilio-sms-fallback",
      "name": "Twilio - Send SMS (Fallback)",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1300,
        550
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": {
          "__rl": true,
          "mode": "url"
        },
        "range": "Call_Log!A:C",
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {
          "continueOnFail": true
        }
      },
      "id": "google-sheets-log",
      "name": "Google Sheets - Log Call",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1400,
        450
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "googleSheetsOAuth2Api",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst hasError = !!(data.error || data.message);\nreturn [{ json: { ...data, hasError } }];"
      },
      "id": "check-log-error",
      "name": "Code - Check Log Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1550,
        450
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-has-error",
              "leftValue": "={{ $json.hasError }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "isTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-log-error",
      "name": "IF - Log Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1700,
        450
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.TELEGRAM_BOT_API_URL }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\", \"text\": \"✅ Verpasster Anruf von {{ $json.phone }}. Habe SMS mit WhatsApp Opt-In geschickt.\"}",
        "options": {
          "continueOnFail": true
        }
      },
      "id": "telegram-alert",
      "name": "HTTP Request - Telegram Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1850,
        350
      ]
    },
    {
      "parameters": {
        "respondWith": "xml",
        "responseBody": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Response>\n  <Say voice=\"alice\" language=\"de-DE\">Moin! Wir sind auf dem Dach. Wir rufen Sie gleich zur\u00fcck.</Say>\n  <Pause length=\"1\"/>\n</Response>",
        "responseHeaders": {
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "text/xml"
              }
            ]
          }
        },
        "options": {
          "responseCode": 200
        }
      },
      "id": "graceful-response",
      "name": "Respond - Graceful Degradation",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        650
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"Invalid phone number format\", \"message\": \"Phone number must be in E.164 format\"}",
        "options": {
          "responseCode": 400
        },
        "responseHeaders": {
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-validation-error",
      "name": "Respond - Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        650,
        550
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-circuit-open",
              "leftValue": "={{ $json.circuitOpen }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "isTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-circuit-open",
      "name": "IF - Circuit Open",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        750,
        350
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst authToken = $env.TWILIO_AUTH_TOKEN;\nconst headers = $input.first().json.headers || {};\nconst signature = headers['x-twilio-signature'] || headers['X-Twilio-Signature'];\nconst body = $input.first().json.body || {};\n\n// Sort parameters alphabetically (Twilio requirement)\nconst sortedKeys = Object.keys(body).sort();\nconst payload = sortedKeys.map(key => key + body[key]).join('');\nconst webhookUrl = `https://${$env.DOMAIN}/webhook/incoming-call`;\nconst expected = crypto.createHmac('sha1', authToken)\n  .update(webhookUrl + payload)\n  .digest('base64');\n\nif (!crypto.timingSafeEqual(Buffer.from(signature || ''), Buffer.from(expected))) {\n  return [{ json: { error: 'Invalid signature', statusCode: 403 } }];\n}\nreturn [{ json: body, valid: true }];"
      },
      "id": "validate-signature",
      "name": "Code - Validate Twilio Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        150,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.TELEGRAM_BOT_API_URL }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\", \"text\": \"❌ Workflow Error: Google Sheets Lookup\\n\\nDetails: {{ $json.error || $json.message }}\"}",
        "options": {
          "continueOnFail": true
        }
      },
      "id": "error-sheets-lookup",
      "name": "Error: Sheets Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        550
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.TELEGRAM_BOT_API_URL }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\", \"text\": \"❌ Workflow Error: Twilio SMS Known\\n\\nDetails: {{ $json.error || $json.message }}\"}",
        "options": {
          "continueOnFail": true
        }
      },
      "id": "error-sms-known",
      "name": "Error: SMS Failed (Known)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        450
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.TELEGRAM_BOT_API_URL }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\", \"text\": \"❌ Workflow Error: Twilio SMS Fallback\\n\\nDetails: {{ $json.error || $json.message }}\"}",
        "options": {
          "continueOnFail": true
        }
      },
      "id": "error-sms-fallback",
      "name": "Error: SMS Failed (Fallback)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        650
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.TELEGRAM_BOT_API_URL }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\", \"text\": \"❌ Workflow Error: Google Sheets Log Call\\n\\nDetails: {{ $json.error || $json.message }}\"}",
        "options": {
          "continueOnFail": true
        }
      },
      "id": "error-log-call",
      "name": "Error: Log Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        550
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Code - Validate Twilio Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Validate Twilio Signature": {
      "main": [
        [
          {
            "node": "IF - Signature Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Signature Valid": {
      "main": [
        [
          {
            "node": "Code - Normalize Phone",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Forbidden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Normalize Phone": {
      "main": [
        [
          {
            "node": "Code - Validate Phone Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Validate Phone Format": {
      "main": [
        [
          {
            "node": "IF - Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Validation Error": {
      "main": [
        [
          {
            "node": "Code - Circuit Breaker (Sheets)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Circuit Breaker (Sheets)": {
      "main": [
        [
          {
            "node": "IF - Circuit Open",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Circuit Open": {
      "main": [
        [
          {
            "node": "Google Sheets - Lookup Customer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Twilio - Respond to Webhook (TwiML)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Graceful Degradation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Lookup Customer": {
      "main": [
        [
          {
            "node": "Code - Check Customer Known",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Code - Track Circuit Error",
            "type": "error",
            "index": 0
          }
        ]
      ]
    },
    "Code - Track Circuit Error": {
      "main": [
        [
          {
            "node": "Respond - Graceful Degradation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio - Respond to Webhook (TwiML)": {
      "main": []
    },
    "Code - Check Customer Known": {
      "main": [
        [
          {
            "node": "IF - Known Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Known Customer": {
      "main": [
        [
          {
            "node": "Twilio - Send SMS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Twilio - Send SMS (Fallback)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio - Send SMS": {
      "main": [
        [
          {
            "node": "Google Sheets - Log Call",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Error: SMS Failed (Known)",
            "type": "error",
            "index": 0
          }
        ]
      ]
    },
    "Twilio - Send SMS (Fallback)": {
      "main": [
        [
          {
            "node": "Google Sheets - Log Call",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Error: SMS Failed (Fallback)",
            "type": "error",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Log Call": {
      "main": [
        [
          {
            "node": "Code - Check Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Check Log Error": {
      "main": [
        [
          {
            "node": "IF - Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Log Error": {
      "main": [
        [
          {
            "node": "HTTP Request - Telegram Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Log Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Telegram Alert": {
      "main": []
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-25T00:00:00.000Z",
  "versionId": "1"
}