workflows/roof-mode-simple.json
{
  "name": "Roof-Mode",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "incoming-call",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "roof-mode-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst phone = body.From || '';\nreturn [{json: {phone}}];"
      },
      "name": "Parse Call",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID }}",
        "sheetName": "Call_Log",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $json.phone }}",
            "timestamp": "={{ $now }}",
            "status": "missed"
          }
        }
      },
      "name": "Log Call",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "credentials": {
        "googleSheets": {
          "id": "T0vN3oiZElUAYwT8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $env.TWILIO_PHONE_NUMBER }}",
        "to": "={{ $json.phone }}",
        "body": "Moin! Wir sind auf dem Dach. Möchten Sie Updates per WhatsApp? Antworten Sie mit JA."
      },
      "name": "Send SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "credentials": {
        "twilioApi": {
          "id": "FLTo0keeCh2osFRj",
          "name": "Twilio API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "xml",
        "responseBody": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response><Say voice=\"alice\" language=\"de-DE\">Moin! Wir sind auf dem Dach. Wir rufen Sie gleich zurück.</Say></Response>",
        "options": {},
        "responseHeaders": {
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "text/xml"
              }
            ]
          }
        }
      },
      "name": "TwiML Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    }
  ],
  "connections": {
    "Webhook Trigger": {"main": [[{"node": "Parse Call"}]]},
    "Parse Call": {"main": [[{"node": "Log Call"}]]},
    "Log Call": {"main": [[{"node": "Send SMS"}]]},
    "Send SMS": {"main": [[{"node": "TwiML Response"}]]}
  },
  "settings": {"executionOrder": "v1"}
}
