workflows/sms-with-if.json
{
  "name": "SMS With IF Test",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sms-with-if",
        "responseMode": "responseNode"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "sms-with-if"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst msg = (body.Body || '').toLowerCase().trim();\nconst isJA = msg.includes('ja');\nreturn [{json: {isJA}}];"
      },
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [{"leftValue": "={{ $json.isJA }}", "rightValue": true}]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "JA branch"
      },
      "name": "Response JA",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Other branch"
      },
      "name": "Response Other",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Code"}]]},
    "Code": {"main": [[{"node": "IF"}]]},
    "IF": {"main": [[{"node": "Response JA"}], [{"node": "Response Other"}]]}
  },
  "settings": {"executionOrder": "v1"}
}
