workflows/sms-http-twilio.json
{
  "name": "SMS With HTTP Twilio",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sms-http-twilio",
        "responseMode": "responseNode"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "sms-http-twilio"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst phone = body.From || '+491711234567';\nconst msg = (body.Body || '').toLowerCase().trim();\nconst isJA = msg.includes('ja');\nreturn [{json: {phone, isJA}}];"
      },
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [{"leftValue": "={{ $json.isJA }}", "rightValue": true}]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json",
        "authentication": "basicAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {"name": "From", "value": "={{ $env.TWILIO_PHONE_NUMBER }}"},
            {"name": "To", "value": "={{ $json.phone }}"},
            {"name": "Body", "value": "Test SMS from n8n via HTTP!"}
          ]
        },
        "options": {}
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "credentials": {
        "httpBasicAuth": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "SMS sent via HTTP"
      },
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Code"}]]},
    "Code": {"main": [[{"node": "IF"}]]},
    "IF": {"main": [[{"node": "HTTP Request"}]]},
    "HTTP Request": {"main": [[{"node": "Response"}]]}
  },
  "settings": {"executionOrder": "v1"}
}
