workflows/sms-twilio-test.json
{
  "name": "SMS Test - Twilio Only",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sms-twilio-test",
        "responseMode": "responseNode"
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "sms-twilio-test"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst phone = body.From || '';\nconst msg = (body.Body || '').toLowerCase().trim();\nreturn [{json: {phone, message: 'Received: ' + msg}}];"
      },
      "name": "Parse SMS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "from": "={{ $env.TWILIO_PHONE_NUMBER }}",
        "to": "={{ $json.phone }}",
        "body": "Test response from n8n webhook!"
      },
      "name": "Send SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "credentials": {
        "twilioApi": {
          "id": "RcKJFQREVgo1VV3y",
          "name": "Twilio API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK - SMS sent"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    }
  ],
  "connections": {
    "Webhook Trigger": {"main": [[{"node": "Parse SMS"}]]},
    "Parse SMS": {"main": [[{"node": "Send SMS"}]]},
    "Send SMS": {"main": [[{"node": "Respond"}]]}
  },
  "settings": {"executionOrder": "v1"}
}
