workflows/sms-test-simple.json
{
  "name": "SMS Test - No Credentials",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sms-test",
        "responseMode": "responseNode"
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "sms-test"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst phone = body.From || '';\nconst msg = (body.Body || '').toLowerCase().trim();\nconst isJA = msg.includes('ja');\nreturn [{json: {phone, isJA, body}}];"
      },
      "name": "Parse SMS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [{"leftValue": "={{ $json.isJA }}", "rightValue": true}]
        }
      },
      "name": "IF - Is JA",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK - JA received"
      },
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK - Other"
      },
      "name": "Respond Other",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    }
  ],
  "connections": {
    "Webhook Trigger": {"main": [[{"node": "Parse SMS"}]]},
    "Parse SMS": {"main": [[{"node": "IF - Is JA"}]]},
    "IF - Is JA": {"main": [[{"node": "Respond Success"}], [{"node": "Respond Other"}]]}
  },
  "settings": {"executionOrder": "v1"}
}
