workflows/sms-opt-in.json
{
  "name": "SMS Opt-In",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/sms-response",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "sms-opt-in-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || '';\nconst phone = $input.first().json.From || '';\nconst normalizedResponse = body.trim().toLowerCase();\nconst isValidResponse = normalizedResponse === 'ja';\nlet p = phone.replace(/[^0-9]/g, '');\nif (p.startsWith('0049')) {\n  p = '+49' + p.substring(4);\n} else if (p.startsWith('0') && p.length >= 10 && p.length <= 13) {\n  p = '+49' + p.substring(1);\n} else if (p.startsWith('49') && p.length >= 12 && p.length <= 13) {\n  p = '+49' + p.substring(2);\n} else if (!p.startsWith('+')) {\n  p = '+49' + p;\n}\nreturn [{ json: { phone: p, response: body, isValidResponse } }];"
      },
      "id": "parse-sms",
      "name": "Code - Parse SMS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.isValidResponse }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "isTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-valid-response",
      "name": "IF - Valid Response (JA)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "sheetId": {
          "__rl": true,
          "mode": "url"
        },
        "range": "={{ $env.GOOGLE_SHEETS_RANGE }}",
        "options": {}
      },
      "id": "google-sheets-update",
      "name": "Google Sheets - Update Opt-In",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [850, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "googleSheetsOAuth2Api",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.TELEGRAM_BOT_API_URL }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\", \"text\": \"WhatsApp Opt-In erhalten von {{ $json.phone }}\"}",
        "options": {}
      },
      "id": "telegram-alert",
      "name": "HTTP Request - Telegram Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Danke! Wir werden Sie per WhatsApp benachrichtigen.",
        "responseHeaders": {
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "text/plain"
              }
            ]
          }
        }
      },
      "id": "response-success",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 100]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Vielen Dank für Ihre Rückmeldung.",
        "responseHeaders": {
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "text/plain"
              }
            ]
          }
        }
      },
      "id": "response-acknowledge",
      "name": "Respond - Acknowledge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "url": "={{ $env.TELEGRAM_BOT_API_URL }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\", \"text\": \"❌ Workflow Error: Google Sheets Update Opt-In\\n\\nDetails: {{ $json.error || $json.message }}\"}",
        "options": {}
      },
      "id": "error-update-optin",
      "name": "Error: Update Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 500]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Danke! Wir werden Sie per WhatsApp benachrichtigen.",
        "responseHeaders": {
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "text/plain"
              }
            ]
          }
        }
      },
      "id": "response-error-swallow",
      "name": "Error: Telegram Swallow",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Code - Parse SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse SMS": {
      "main": [
        [
          {
            "node": "IF - Valid Response (JA)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Valid Response (JA)": {
      "main": [
        [
          {
            "node": "Google Sheets - Update Opt-In",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Acknowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Update Opt-In": {
      "main": [
        [
          {
            "node": "HTTP Request - Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Error: Update Failed",
            "type": "error",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Telegram Alert": {
      "main": [
        [
          {
            "node": "Respond - Success",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Error: Telegram Swallow",
            "type": "error",
            "index": 0
          }
        ]
      ]
    },
    "Respond - Success": {
      "main": []
    },
    "Respond - Acknowledge": {
      "main": []
    },
    "Error: Update Failed": {
      "main": [
        [
          {
            "node": "Respond - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error: Telegram Swallow": {
      "main": []
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-26T00:00:00.000Z",
  "versionId": "1"
}
