workflows/sms-no-sheets.json
{
  "name": "SMS Test - No Sheets",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sms-no-sheets",
        "responseMode": "responseNode"
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "sms-no-sheets",
      "position": [100, 100],
      "disabled": false
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst phone = body.From || '';\nconst msg = (body.Body || '').toLowerCase().trim();\nconst isJA = msg.includes('ja');\nreturn [{json: {phone, isJA, body}}];"
      },
      "name": "Parse SMS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 100],
      "disabled": false
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [{"leftValue": "={{ $json.isJA }}", "rightValue": true}]
        }
      },
      "name": "IF - Is JA",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [300, 100],
      "disabled": false
    },
    {
      "parameters": {
        "from": "={{ $env.TWILIO_PHONE_NUMBER }}",
        "to": "={{ $json.phone }}",
        "body": "Danke für Ihre Antwort! Wir melden uns bei Ihnen."
      },
      "name": "Send SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [400, 100],
      "disabled": false,
      "credentials": {
        "twilioApi": {
          "id": "RcKJFQREVgo1VV3y",
          "name": "Twilio API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK - SMS sent"
      },
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [500, 100],
      "disabled": false
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK - No action"
      },
      "name": "Respond Other",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [500, 200],
      "disabled": false
    }
  ],
  "connections": {
    "Webhook Trigger": {"main": [[{"node": "Parse SMS"}]]},
    "Parse SMS": {"main": [[{"node": "IF - Is JA"}]]},
    "IF - Is JA": {"main": [[{"node": "Send SMS"}], [{"node": "Respond Other"}]]},
    "Send SMS": {"main": [[{"node": "Respond Success"}]]}
  },
  "settings": {"executionOrder": "v1"}
}
