workflows/sms-opt-in.json.backup
{
  "name": "SMS Opt-In",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/sms-response",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "sms-opt-in-webhook"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst authToken = $env.TWILIO_AUTH_TOKEN;\nconst headers = $input.first().json.headers || {};\nconst signature = headers['x-twilio-signature'] || headers['X-Twilio-Signature'];\nconst body = $input.first().json.body || {};\n\n// Sort parameters alphabetically (Twilio requirement)\nconst sortedKeys = Object.keys(body).sort();\nconst payload = sortedKeys.map(key => key + body[key]).join('');\nconst webhookUrl = `https://${$env.DOMAIN}/webhook/sms-response`;\nconst expected = crypto.createHmac('sha1', authToken)\n  .update(webhookUrl + payload)\n  .digest('base64');\n\nif (!crypto.timingSafeEqual(Buffer.from(signature || ''), Buffer.from(expected))) {\n  return [{ json: { error: 'Invalid signature', statusCode: 403 } }];\n}\nreturn [{ json: body, valid: true }];"
      },
      "id": "validate-signature",
      "name": "Code - Validate Twilio Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        150,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "isTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-signature-valid",
      "name": "IF - Signature Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        250,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"Forbidden\", \"message\": \"Invalid signature\"}",
        "options": {
          "responseCode": 403
        },
        "responseHeaders": {
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-forbidden",
      "name": "Respond - Forbidden",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        250,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body.Body || '';\nconst phone = $input.first().json.body.From || '';\nconst normalizedResponse = body.trim().toLowerCase();\n\n// STOP keyword detection (DSGVO Opt-out)\nconst stopWords = ['stop', 'abmelden', 'abbestellen', 'ende', 'stopp', 'unsubscribe'];\nconst isStopRequest = stopWords.some(word => normalizedResponse.includes(word));\n\nif (isStopRequest) {\n  return [{ json: { phone: phone.replace(/[^0-9+]/g, ''), response: body, action: 'unsubscribe', isStopRequest: true } }];\n}\n\n// Affirmative response detection\nconst affirmativePatterns = ['ja', 'yes', 'ok', 'okay', 'jaa', 'klar', 'gerne', 'ja bitte'];\nconst isValidResponse = affirmativePatterns.some(pattern => normalizedResponse.includes(pattern));\n\n// Phone normalization (international support)\nlet p = phone.replace(/[^0-9+]/g, '');\nif (p.startsWith('+')) {\n  // Keep international format\n} else if (p.startsWith('00')) {\n  p = '+' + p.substring(2);\n} else if (p.startsWith('0') && p.length >= 10 && p.length <= 13) {\n  p = '+49' + p.substring(1);\n} else if (!p.startsWith('+') && p.length > 0) {\n  p = '+49' + p;\n}\n\nreturn [{ json: { phone: p, response: body, isValidResponse, action: isValidResponse ? 'opt-in' : 'unknown' } }];"
      },
      "id": "parse-sms",
      "name": "Code - Parse SMS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        350
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.isValidResponse }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "isTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-valid-response",
      "name": "IF - Valid Response (JA)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        350
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "sheetId": {
          "__rl": true,
          "mode": "url"
        },
        "range": "={{ $env.GOOGLE_SHEETS_RANGE }}",
        "options": {}
      },
      "id": "google-sheets-update",
      "name": "Google Sheets - Update Opt-In",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        900,
        250
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "googleSheetsOAuth2Api",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "from": "={{ $env.TWILIO_WHATSAPP_SENDER }}",
        "to": "={{ $json.phone }}",
        "body": "Danke! Hier ist der Link fur Ihren Termin: https://example.com/termin",
        "options": {
          "maxTries": 3,
          "waitBetweenTries": 2000,
          "continueOnFail": false
        }
      },
      "id": "twilio-whatsapp-optin",
      "name": "Twilio - Send WhatsApp",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1150,
        200
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.TELEGRAM_BOT_API_URL }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\", \"text\": \"WhatsApp Opt-In erhalten von {{ $json.phone }}\"}",
        "options": {}
      },
      "id": "telegram-alert",
      "name": "HTTP Request - Telegram Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        250
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Danke! Wir werden Sie per WhatsApp benachrichtigen.",
        "responseHeaders": {
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "text/plain"
              }
            ]
          }
        }
      },
      "id": "response-success",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1300,
        150
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Vielen Dank f\u00fcr Ihre R\u00fcckmeldung.",
        "responseHeaders": {
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "text/plain"
              }
            ]
          }
        }
      },
      "id": "response-acknowledge",
      "name": "Respond - Acknowledge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        450
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.TELEGRAM_BOT_API_URL }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\", \"text\": \"\u274c Workflow Error: Google Sheets Update Opt-In\\n\\nDetails: {{ $json.error || $json.message }}\"}",
        "options": {}
      },
      "id": "error-update-optin",
      "name": "Error: Update Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        550
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Danke! Wir werden Sie per WhatsApp benachrichtigen.",
        "responseHeaders": {
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "text/plain"
              }
            ]
          }
        }
      },
      "id": "response-error-swallow",
      "name": "Error: Telegram Swallow",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1300,
        350
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Code - Validate Twilio Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Validate Twilio Signature": {
      "main": [
        [
          {
            "node": "IF - Signature Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Signature Valid": {
      "main": [
        [
          {
            "node": "Code - Parse SMS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Forbidden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse SMS": {
      "main": [
        [
          {
            "node": "IF - Valid Response (JA)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Valid Response (JA)": {
      "main": [
        [
          {
            "node": "Google Sheets - Update Opt-In",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Acknowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Update Opt-In": {
      "main": [
        {
          "node": "Twilio - Send WhatsApp",
          "type": "main",
          "index": 0
        },
        {
          "node": "HTTP Request - Telegram Alert",
          "type": "main",
          "index": 0
        }
      ],
      "error": [
        [
          {
            "node": "Error: Update Failed",
            "type": "error",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Telegram Alert": {
      "main": [
        [
          {
            "node": "Respond - Success",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Error: Telegram Swallow",
            "type": "error",
            "index": 0
          }
        ]
      ]
    },
    "Respond - Success": {
      "main": []
    },
    "Respond - Acknowledge": {
      "main": []
    },
    "Error: Update Failed": {
      "main": [
        [
          {
            "node": "Respond - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error: Telegram Swallow": {
      "main": []
    },
    "Twilio - Send WhatsApp": {
      "main": [
        [
          {
            "node": "HTTP Request - Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-26T00:00:00.000Z",
  "versionId": "1"
}