workflows/status-loop.json
{
  "name": "CRM Status Loop - Customer Communication",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "c8f7d4a1-2b3e-4f5c-6d7e-8f9a0b1c2d3e",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "lookup",
        "spreadsheetId": "={{$env.GOOGLE_SHEET_ID}}",
        "sheetName": "CRM",
        "range": "A:Z"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Get CRM Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [450, 300],
      "credentials": {
        "googleApi": {
          "id": "{{$env.GOOGLE_CREDENTIALS_ID}}"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "status-changed",
              "leftValue": "={{ $json.status }}",
              "rightValue": "={{ $json.previous_status }}",
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            },
            {
              "id": "not-opted-out",
              "leftValue": "={{ $json.opt_out }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-89b0-cdef-123456789abc",
      "name": "Check Status Changed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Load status templates from config\nconst fs = require('fs');\nconst configPath = '/Users/avion/Documents.nosync/projects/vorzimmerdrache/config/status-templates.json';\nconst templates = JSON.parse(fs.readFileSync(configPath, 'utf8'));\n\n// Get current status\nconst status = $input.first().json.status;\nconst name = $input.first().json.name || $input.first().json.customer_name || '';\n\n// Get template for status\nconst template = templates.de[status] || templates.de['Received'];\n\n// Build message\nlet message = template.template;\ntemplate.variables.forEach(variable => {\n  const value = $input.first().json[variable];\n  if (value) {\n    message = message.replace(`{${variable}}`, value);\n  }\n});\n\n// Handle missing date/time for specific statuses\nif (status === 'Termin' && (!$input.first().json.date || !$input.first().json.time)) {\n  message = `Hallo ${name}, dein Termin wird bestätigt. Details folgen bald.`;\n}\n\nif (status === 'Installation' && !$input.first().json.date) {\n  message = `Hallo ${name}, die Installation ist geplant. Wir senden dir die Details bald.`;\n}\n\n// Add review link for completed status\nif (status === 'Abgeschlossen') {\n  message = message.replace('{review_link}', templates.config.review_link);\n}\n\n// Return enriched data\nreturn {\n  json: {\n    ...$input.first().json,\n    message: message,\n    phone: $input.first().json.phone || $input.first().json.telephone || '',\n    status: status,\n    delay_seconds: template.delay_seconds || templates.config.default_delay_seconds\n  }\n};"
      },
      "id": "c3d4e5f6-a7b8-90c1-def0-23456789abcd",
      "name": "Prepare Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "amount": "={{ $json.delay_seconds }}",
        "unit": "seconds"
      },
      "id": "d4e5f6a7-b8c9-01d2-ef12-3456789abcdef",
      "name": "Apply Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-phone",
              "leftValue": "={{ $json.phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-12e3-f123-456789abcdef0",
      "name": "Check Has Phone",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.WAHA_URL}}/api/sendText",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Api-Key",
              "value": "={{$env.WAHA_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "default"
            },
            {
              "name": "chatId",
              "value": "={{ $json.phone.replace(/[^0-9+]/g, '') }}@c.us"
            },
            {
              "name": "text",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-23f4-1234-56789abcdef01",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 200],
      "credentials": {
        "headerAuth": {
          "id": "{{$env.WAHA_AUTH_ID}}"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "whatsapp-failed",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a7b8c9d0-e1f2-34f5-2345-6789abcdef012",
      "name": "Check WhatsApp Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.TWILIO_API_URL}}/Accounts/{{$env.TWILIO_ACCOUNT_SID}}/Messages.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twilioApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "From",
              "value": "={{$env.TWILIO_PHONE_NUMBER}}"
            },
            {
              "name": "Body",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b8c9d0e1-f2a3-45f6-3456-789abcdef0123",
      "name": "Send SMS Fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1850, 100],
      "credentials": {
        "twilioApi": {
          "id": "{{$env.TWILIO_CREDENTIALS_ID}}"
        }
      }
    },
    {
      "parameters": {
        "operation": "lookup",
        "spreadsheetId": "={{$env.GOOGLE_SHEET_ID}}",
        "sheetName": "CRM",
        "range": "={{ `A${$json.row}:Z${$json.row}` }}"
      },
      "id": "c9d0e1f2-a3b4-56f7-4567-89abcdef01234",
      "name": "Update Last Sent",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [2050, 200],
      "credentials": {
        "googleApi": {
          "id": "{{$env.GOOGLE_CREDENTIALS_ID}}"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Log sent message for tracking\nreturn {\n  json: {\n    customer_id: $input.first().json.id || $input.first().json.customer_id,\n    phone: $input.first().json.phone,\n    status: $input.first().json.status,\n    message: $input.first().json.message,\n    sent_via: $input.first().json.sent_via || 'unknown',\n    sent_at: new Date().toISOString(),\n    success: !$input.first().json.error\n  }\n};"
      },
      "id": "d0e1f2a3-b4c5-67f8-5678-9abcdef012345",
      "name": "Log Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2250, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.WAHA_URL}}/api/hooks/{{{environment:WEBHOOK_ID}}}/handle",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "payload",
              "value": "={{ JSON.stringify($json) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e1f2a3b4-c5d6-78f9-6789-abcdef0123456",
      "name": "Handle Incoming Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [250, 500],
      "webhookId": "status-loop-incoming"
    },
    {
      "parameters": {
        "jsCode": "// Check for STOP keyword or opt-out\nconst message = ($input.first().json.message?.body || $input.first().json.text || '').toLowerCase().trim();\nconst isStop = message === 'stop' || message === 'abbrechen' || message === 'abmelden';\n\nif (isStop) {\n  return {\n    json: {\n      action: 'opt_out',\n      phone: $input.first().json.from || $input.first().json.phone,\n      timestamp: new Date().toISOString()\n    }\n  };\n}\n\nreturn { json: { action: 'ignore' } };"
      },
      "id": "f2a3b4c5-d6e7-89f0-789a-bcdef01234567",
      "name": "Check Opt-Out",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-opt-out",
              "leftValue": "={{ $json.action }}",
              "rightValue": "opt_out",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a3b4c5d6-e7f8-90f1-89ab-cdef012345678",
      "name": "Process Opt-Out",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 500]
    },
    {
      "parameters": {
        "operation": "update",
        "sheetId": "={{$env.GOOGLE_SHEET_ID}}",
        "sheetName": "CRM",
        "range": "A:Z",
        "key": "phone",
        "value": "={{ $json.phone }}",
        "data": "={{ { opt_out: 'true', opt_out_date: new Date().toISOString() } }}"
      },
      "id": "b4c5d6e7-f8f9-01f2-9abc-def0123456789",
      "name": "Mark Opted Out",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [850, 500],
      "credentials": {
        "googleApi": {
          "id": "{{$env.GOOGLE_CREDENTIALS_ID}}"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.WAHA_URL}}/api/sendText",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Api-Key",
              "value": "={{$env.WAHA_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session",
              "value": "default"
            },
            {
              "name": "chatId",
              "value": "={{ $json.phone.replace(/[^0-9+]/g, '') }}@c.us"
            },
            {
              "name": "text",
              "value": "Du wurdest von der Nachrichtenliste entfernt. Um dich wieder anzumelden, antworte auf eine Nachricht."
            }
          ]
        },
        "options": {}
      },
      "id": "c5d6e7f8-f9a0-12f3-abcd-ef0123456789a",
      "name": "Send Opt-Out Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 500],
      "credentials": {
        "headerAuth": {
          "id": "{{$env.WAHA_AUTH_ID}}"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Get CRM Data", "type": "main", "index": 0}]]
    },
    "Get CRM Data": {
      "main": [[{"node": "Check Status Changed", "type": "main", "index": 0}]]
    },
    "Check Status Changed": {
      "main": [
        [{"node": "Prepare Message", "type": "main", "index": 0}]
      ]
    },
    "Prepare Message": {
      "main": [[{"node": "Apply Delay", "type": "main", "index": 0}]]
    },
    "Apply Delay": {
      "main": [[{"node": "Check Has Phone", "type": "main", "index": 0}]]
    },
    "Check Has Phone": {
      "main": [
        [{"node": "Send WhatsApp", "type": "main", "index": 0}]
      ]
    },
    "Send WhatsApp": {
      "main": [[{"node": "Check WhatsApp Error", "type": "main", "index": 0}]]
    },
    "Check WhatsApp Error": {
      "main": [
        [{"node": "Update Last Sent", "type": "main", "index": 0}],
        [{"node": "Send SMS Fallback", "type": "main", "index": 0}]
      ]
    },
    "Update Last Sent": {
      "main": [[{"node": "Log Message", "type": "main", "index": 0}]]
    },
    "Send SMS Fallback": {
      "main": [[{"node": "Log Message", "type": "main", "index": 0}]]
    },
    "Handle Incoming Message": {
      "main": [[{"node": "Check Opt-Out", "type": "main", "index": 0}]]
    },
    "Check Opt-Out": {
      "main": [[{"node": "Process Opt-Out", "type": "main", "index": 0}]]
    },
    "Process Opt-Out": {
      "main": [
        [{"node": "Mark Opted Out", "type": "main", "index": 0}]
      ]
    },
    "Mark Opted Out": {
      "main": [[{"node": "Send Opt-Out Confirmation", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-24T16:00:00.000Z",
  "versionId": "1"
}