workflows/subsidy-enrichment.json
{
  "name": "Subsidy Enrichment",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const lead = $input.all()[0];\n\nif (!lead.solar || !lead.solar.estimatedCapacityKw) {\n  return [{\n    json: {\n      ...lead,\n      subsidy: {\n        eligible: false,\n        reason: 'No solar capacity data available'\n      }\n    }\n  }];\n}\n\nconst SubsidyCalculator = require('/Users/avion/Documents.nosync/projects/vorzimmerdrache/integrations/enrichment/subsidy-calculator.js');\nconst calculator = new SubsidyCalculator();\n\nconst projectCost = lead.system?.estimatedCostEUR || 0;\nconst roofSizeKWp = lead.solar.estimatedCapacityKw;\nconst systemType = 'pv';\nconst includeBAFA = false;\n\nconst subsidyResult = calculator.calculateCombinedSubsidies(\n  projectCost,\n  roofSizeKWp,\n  systemType,\n  includeBAFA\n);\n\nconst enrichedLead = {\n  ...lead,\n  subsidy: {\n    kfw270: subsidyResult.kfw,\n    bafa: subsidyResult.bafa,\n    totalBenefit: subsidyResult.totalBenefit,\n    totalSubsidy: subsidyResult.totalSubsidy,\n    combinedValue: subsidyResult.combinedValue,\n    eligible: subsidyResult.kfw.eligible || subsidyResult.bafa.eligible,\n    notes: subsidyResult.notes\n  },\n  enrichedAt: new Date().toISOString()\n};\n\nreturn [{ json: enrichedLead }];"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Calculate Subsidy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "b2c3d4e5-f6g7-8901-bcde-f12345678901",
              "leftValue": "={{ $json.subsidy.eligible }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3d4e5f6-g7h8-9012-cdef-123456789012",
      "name": "Check Subsidy Eligibility",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\nconst subsidy = lead.subsidy;\n\nconst notes = [];\n\nif (subsidy.kfw270.eligible) {\n  const kfw = subsidy.kfw270;\n  notes.push(`KfW 270: bis €${kfw.maxLoan.toLocaleString('de-DE')} verfügbar bei ${kfw.interestRatePercent}% Zinsen`);\n}\n\nif (subsidy.bafa.eligible) {\n  notes.push(`BAFA Zuschuss: bis €${subsidy.bafa.subsidy.toLocaleString('de-DE')}`);\n}\n\nif (subsidy.combinedValue > 0) {\n  notes.push(`Gesamtvorteil: bis €${subsidy.combinedValue.toLocaleString('de-DE')}`);\n}\n\nreturn [{\n  json: {\n    ...lead,\n    subsidyNotes: notes.join('\\n'),\n    subsidySummary: {\n      kfwEligible: subsidy.kfw270.eligible,\n      bafaEligible: subsidy.bafa.eligible,\n      kfwAmount: subsidy.kfw270.maxLoan,\n      bafaAmount: subsidy.bafa.subsidy,\n      total: subsidy.combinedValue\n    }\n  }\n}];"
      },
      "id": "d4e5f6g7-h8i9-1234-ef12-345678901234",
      "name": "Format Subsidy Notes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\nconst fs = require('fs');\nconst templatePath = '/Users/avion/Documents.nosync/projects/vorzimmerdrache/config/subsidy-message-template.txt';\n\nlet template = 'Guten Tag {{name}},';\ntry {\n  template = fs.readFileSync(templatePath, 'utf8');\n} catch (error) {\n  console.log('Using default template');\n}\n\nconst kwp = lead.solar?.estimatedCapacityKw || 0;\nconst kfwAmount = lead.subsidy?.kfw270?.maxLoan || 0;\nconst bafaEligible = lead.subsidy?.bafa?.eligible || false;\nconst bafaAmount = lead.subsidy?.bafa?.subsidy || 0;\n\nlet message = template\n  .replace(/{{name}}/g, lead.name || 'Kunde')\n  .replace(/{{kwp}}/g, kwp.toFixed(1))\n  .replace(/{{kfw_amount}}/g, kfwAmount.toLocaleString('de-DE'))\n  .replace(/{{bafa_amount}}/g, bafaAmount.toLocaleString('de-DE'));\n\nif (!bafaEligible) {\n  message = message.replace(/{{#if bafa_eligible}}[\\s\\S]*?{{\\/if}}/g, '');\n} else {\n  message = message.replace(/{{#if bafa_eligible}}/g, '').replace(/{{\\/if}}/g, '');\n}\n\nreturn [{\n  json: {\n    ...lead,\n    whatsappMessage: message.trim()\n  }\n}];"
      },
      "id": "e5f6g7h8-i9j0-2345-f123-456789012345",
      "name": "Generate WhatsApp Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "resource": "sheet",
        "operation": "appendOrUpdate",
        "sheetId": "{{ $env.GOOGLE_SHEET_ID }}",
        "range": "Enriched!A:Z",
        "options": {
          "valueInputMode": "userEntered"
        }
      },
      "id": "f6g7h8i9-j0k1-3456-1234-567890123456",
      "name": "Update Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1340, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\nreturn [{\n  json: {\n    originalAddress: lead.address,\n    validatedAddress: lead.address?.validated,\n    score: lead.qualification?.score,\n    category: lead.qualification?.category,\n    roofArea: lead.solar?.roofArea || 0,\n    estimatedKwh: lead.solar?.estimatedKwhPerYear || 0,\n    costEUR: lead.system?.estimatedCostEUR || 0,\n    state: lead.regional?.state || '',\n    priority: lead.qualification?.priority,\n    kfwEligible: lead.subsidy?.kfw270?.eligible || false,\n    kfwAmount: lead.subsidy?.kfw270?.maxLoan || 0,\n    bafaEligible: lead.subsidy?.bafa?.eligible || false,\n    bafaAmount: lead.subsidy?.bafa?.subsidy || 0,\n    subsidyNotes: lead.subsidyNotes || '',\n    whatsappMessage: lead.whatsappMessage || '',\n    enrichedAt: lead.enrichedAt\n  }\n}];"
      },
      "id": "g7h8i9j0-k1l2-4567-2345-678901234567",
      "name": "Format Final Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\nreturn [{\n  json: {\n    ...lead,\n    subsidy: {\n      eligible: false,\n      reason: 'Not eligible for subsidies'\n    },\n    subsidyNotes: 'Keine Förderung verfügbar'\n  }\n}];"
      },
      "id": "h8i9j0k1-l2m3-5678-3456-789012345678",
      "name": "Handle Ineligible",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Calculate Subsidy": {
      "main": [
        [
          {
            "node": "Check Subsidy Eligibility",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Subsidy Eligibility": {
      "main": [
        [
          {
            "node": "Format Subsidy Notes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Ineligible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Subsidy Notes": {
      "main": [
        [
          {
            "node": "Generate WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate WhatsApp Message": {
      "main": [
        [
          {
            "node": "Update Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Google Sheets": {
      "main": [
        [
          {
            "node": "Format Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Ineligible": {
      "main": [
        [
          {
            "node": "Format Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-25T00:00:00.000Z",
  "versionId": "1.0.0"
}
