workflows/timeout-handler.json.bak
{
  "name": "Timeout Handler - Conversation Expiration",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "search",
        "documentId": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID }}",
        "sheetName": "Customers",
        "options": {
          "valueRenderMode": "UNFORMATTED_VALUE"
        }
      },
      "id": "query-expired-conversations",
      "name": "Query Expired Conversations",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [450, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Calculate the cutoff time (24 hours ago)\nconst cutoffTime = new Date(Date.now() - 24 * 60 * 60 * 1000);\n\n// Get all rows from the sheet\nconst rows = $input.all()[0].json.data || [];\n\n// Filter rows that are in awaiting states and have timed out\nconst expiredConversations = rows.filter(row => {\n  const state = row.conversation_state;\n  const lastChange = row.last_state_change ? new Date(row.last_state_change) : null;\n  \n  const isAwaitingState = ['awaiting_plz', 'awaiting_kwh', 'awaiting_foto'].includes(state);\n  const isExpired = lastChange && lastChange < cutoffTime;\n  \n  return isAwaitingState && isExpired;\n}).map(row => ({\n  json: {\n    phone: row.Phone || row.phone,\n    name: row.Name || row.name,\n    conversation_state: row.conversation_state,\n    last_state_change: row.last_state_change,\n    rowIndex: row.rowNumber || row.__rowNumber\n  }\n}));\n\nif (expiredConversations.length === 0) {\n  return [{ json: { noExpired: true, message: 'No expired conversations found' } }];\n}\n\nreturn expiredConversations;"
      },
      "id": "filter-expired",
      "name": "Filter Expired",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID }}",
        "sheetName": "Customers",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "conversation_state": "expired",
            "last_state_change": "={{ $now }}"
          }
        },
        "options": {}
      },
      "id": "update-to-expired",
      "name": "Update State to Expired",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [850, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TELEGRAM_BOT_API_URL }}/sendMessage",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "chat_id": "={{ $env.TELEGRAM_CHAT_ID }}",
          "text": "⏰ Timeout: Lead von {{ $json.phone }} hat 24h nicht geantwortet. Status: expired",
          "parse_mode": "HTML"
        },
        "options": {
          "ignoreHttpStatusErrors": true
        }
      },
      "id": "telegram-alert",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-no-expired",
              "leftValue": "={{ $json.noExpired }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-if-empty",
      "name": "Check If Empty",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 500]
    },
    {
      "parameters": {
        "jsCode": "// Log that no expired conversations were found\nconsole.log('[' + new Date().toISOString() + '] Timeout Handler: No expired conversations found');\nreturn [{ json: { logged: true } }];"
      },
      "id": "log-no-expired",
      "name": "Log No Expired",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 500]
    },
    {
      "parameters": {
        "jsCode": "// Log error from Telegram\nconst error = $input.first().json.error || 'Unknown error';\nconsole.error('[' + new Date().toISOString() + '] Timeout Handler - Telegram Error:', error);\nreturn [{ json: { errorLogged: true, error: error } }];"
      },
      "id": "log-telegram-error",
      "name": "Log Telegram Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 400]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Query Expired Conversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Expired Conversations": {
      "main": [
        [
          {
            "node": "Filter Expired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Expired": {
      "main": [
        [
          {
            "node": "Update State to Expired",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check If Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update State to Expired": {
      "main": [
        [
          {
            "node": "Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Alert": {
      "main": [
        [],
        [
          {
            "node": "Log Telegram Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Empty": {
      "main": [
        [
          {
            "node": "Log No Expired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["timeout", "scheduled", "cleanup"]
}
