workflows/website-form-handler.json
{
  "name": "Website Form Submission Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "form-submission",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Website Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "form-submission"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $headers['x-webhook-secret'] }}",
              "rightValue": "={{ $env.WEBHOOK_SECRET }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-validate-webhook-secret",
      "name": "IF - Validate Webhook Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract form data\nconst formData = {\n  name: $input.first().json.body?.name || $input.first().json.name || 'Unbekannt',\n  phone: $input.first().json.body?.phone || $input.first().json.phone || '',\n  installations: $input.first().json.body?.installations || $input.first().json.installations || '',\n  timestamp: new Date().toISOString(),\n  source: 'meisteranruf.de Website'\n};\n\n// Validate required fields\nif (!formData.name || !formData.phone) {\n  throw new Error('Name und Telefon sind Pflichtfelder');\n}\n\nreturn [formData];"
      },
      "id": "validate-node",
      "name": "Code - Parse Form Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true, \"message\": \"Vielen Dank! Wir rufen Sie innerhalb von 24 Stunden zurück.\"}",
        "options": {
          "statusCode": 200
        }
      },
      "id": "respond-success",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        850,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": false, \"message\": \"Es ist ein Fehler aufgetreten. Bitte versuchen Sie es später erneut oder rufen Sie uns an: +49 177 7250 851\"}",
        "options": {
          "statusCode": 500
        }
      },
      "id": "respond-error",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        850,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Unauthorized: Invalid webhook secret",
        "options": {
          "responseCode": 401
        }
      },
      "id": "respond-unauthorized",
      "name": "Respond - Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        650,
        500
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=🎯 NEUE WEBSITE-ANFRAGE\n\n👤 Name: {{ $json.name }}\n📞 Telefon: {{ $json.phone }}\n📊 Installationen/Monat: {{ $json.installations || 'Nicht angegeben' }}\n\n⏰ Eingegangen: {{ $json.timestamp }}\n🌐 Quelle: {{ $json.source }}",
        "additionalFields": {}
      },
      "id": "telegram-node",
      "name": "Send Telegram Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "22c3be04-0c3b-41ec-b7df-08222763e448",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@meisteranruf.de",
        "toEmail": "={{ $env.ADMIN_EMAIL }}",
        "subject": "=🎯 Neue Website-Anfrage von {{ $json.name }}",
        "text": "=Hallo,\n\nes gibt eine neue Anfrage über die Website:\n\nName/Firma: {{ $json.name }}\nTelefon: {{ $json.phone }}\nInstallationen/Monat: {{ $json.installations || 'Nicht angegeben' }}\n\nZeitpunkt: {{ $json.timestamp }}\n\nViele Grüße,\nMeisterAnruf Website",
        "options": {}
      },
      "id": "email-node",
      "name": "Send Email to Ralf",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1250,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "SMTP Credentials"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "{{$env.GOOGLE_SHEETS_SPREADSHEET_ID}}",
        "sheetName": "Sheet1",
        "options": {},
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Timestamp",
              "fieldValue": "={{ $json.timestamp }}"
            },
            {
              "fieldId": "Name",
              "fieldValue": "={{ $json.name }}"
            },
            {
              "fieldId": "Telefon",
              "fieldValue": "={{ $json.phone }}"
            },
            {
              "fieldId": "Installationen",
              "fieldValue": "={{ $json.installations }}"
            },
            {
              "fieldId": "Quelle",
              "fieldValue": "={{ $json.source }}"
            },
            {
              "fieldId": "Status",
              "fieldValue": "=Neu"
            }
          ]
        },
        "sheetId": {
          "__rl": true,
          "mode": "url",
          "value": "{{$env.GOOGLE_SHEETS_SPREADSHEET_ID}}"
        }
      },
      "id": "sheets-node",
      "name": "Add to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1450,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "f2ad47cc-53fb-44c5-94e2-1c679a0456fd",
          "name": "Google Sheets OAuth2"
        }
      }
    }
  ],
  "connections": {
    "Website Form Webhook": {
      "main": [
        [
          {
            "node": "IF - Validate Webhook Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Validate Webhook Secret": {
      "main": [
        [
          {
            "node": "Code - Parse Form Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse Form Data": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Telegram Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Notification": {
      "main": [
        [
          {
            "node": "Send Email to Ralf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email to Ralf": {
      "main": [
        [
          {
            "node": "Add to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [
    {
      "name": "Website",
      "id": "tag-website"
    },
    {
      "name": "Lead",
      "id": "tag-lead"
    }
  ]
}
